.table thead tr th {
  background-color: #fff;
  border-bottom: 1px solid #69707a;
  text-transform: uppercase
}

.table td {
  padding: .75rem
}

.table tbody tr:nth-child(4n+0) td,.table tbody tr:nth-child(4n+2) td {
  border-bottom: 1px solid #e0e5ec
}

.table tbody tr:nth-child(4n+1) td,.table tbody tr:nth-child(4n+2) td {
  background-color: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color)
}

.table tbody tr:nth-child(4n+0) td,.table tbody tr:nth-child(4n+3) td {
  background-color: var(--bs-table-bg);
  color: #69707a
}

.table .table__detail td {
  padding-top: 0
}

.table .table__detail.collapsed td {
  overflow: hidden;
  padding-bottom: 0
}

.table .table__detail.collapsed td>* {
  height: 0
}








.content .box .form__thin input,
.content .box .form__thin select,
.content .box .form__thin button {
color: #69707a;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
padding: 0.2rem 0.5rem;
margin-bottom: 0.5rem;
/*border-radius: 3px;*/
}
