.table {
  width: calc(100% - 1em);
  margin: 1em 0.5em;

  @media (min-width: 1280px) {
    width: 90%;
    margin: 1em auto 3em;
  }

  thead tr th {
    background-color: #fff;
    border-bottom: 1px solid #69707a;
    text-transform: uppercase;
  }

  td {
    padding: 0.75rem;
  }

  tbody tr:nth-child(4n + 0) td,
  tbody tr:nth-child(4n + 2) td {
    border-bottom: 1px solid #e0e5ec;
  }

  tbody tr:nth-child(4n + 1) td,
  tbody tr:nth-child(4n + 2) td {
    background-color: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
  }

  tbody tr:nth-child(4n + 0) td,
  tbody tr:nth-child(4n + 3) td {
    background-color: var(--bs-table-bg);
    color: #69707a;
  }

  &__details {
    td {
      padding-top: 0;
    }

    &.collapsed td {
      overflow: hidden;
      padding-bottom: 0;
    }

    & td > * {
      transition-property: height, margin, padding;
      transition-timing-function: ease;
      transition-duration: 0.4s;
    }

    &.collapsed td > * {
      height: 0;
      margin: 0;
      padding: 0;
    }
  }

  .editRow {
    padding: 9px 12px;

    input {
      width: 100%;
      padding: 0.3em 0.4em;
      border-radius: 5px;
      border: solid 1px #888;
      outline-color: var(--bs-secondary);
      font-size: 1em;
      transition: outline-color 0.5s;
    }

    input:focus {
      outline: solid 2px var(--bs-primary);
    }
  }
}
